<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início do Sistema</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <div class="container">
        <h2>Bem-vindo</h2>
        <p>Acesse sua conta ou cadastre-se no sistema.</p>

        <a href="{{ url_for('auth.login') }}" class="btn-link btn-primary">
            Fazer Login
        </a>

        <a href="{{ url_for('auth.cadastrar_usuario') }}" class="btn-link btn-secondary">
            Criar Nova Conta
        </a>
    </div>

</body>
</html>